$dc_black: #2f3238;
$dc_blue: #3498db;
$dc_blue_lighter: #528cb3;
$dc_gray: #74777b;
$dc_gray_light: #ddd;
$dc_white: #FFF;

$dc_font_primary: 'Raleway', Arial, sans-serif;
$dc_font_secondary: $dc_font_primary;