{% extends "PackagistWebBundle::layout.html.twig" %}

{% block content %}
    <div class="box clearfix">
        <h1>What is Drupal-Packagist?</h1>
        <p><em>Drupal Packagist</em> is a Composer package repository for Drupal
          projects. It is a fork of <a href="https://packagist.org">Packagist</a>
          to automatically provide packages for any projects hosted on drupal.org.
        </p><p>
          To find out more about Composer please refer
          <a href="http://getcomposer.org/">to the official website</a>.</p>
        </p>

        <h1>How are packages created?</h1>
        <p>... to do ...</p>

        <h1>Update Schedule</h1>
        <p>... to do ...</p>

        <h1>Contributing</h1>
        <p>To report issues or contribute code you can find the source repository
          on <a href="https://github.com/drupal-composer/drupal-packagist">GitHub</a>.</p>
    </div>
{% endblock %}
